<div class="max-h-[600px] overflow-y-auto">
  <% @articles.each do |article| %>
    <div class="flex items-center mb-4">
      <% if article[:thumbnail] %>
        <a href="<%= article[:url] %>" target="_blank" rel="noopener">
          <img src="<%= article[:thumbnail] %>" alt="Thumbnail" class="w-16 h-16 object-cover mr-4 rounded" />
        </a>
      <% end %>
      <a href="<%= article[:url] %>" target="_blank" rel="noopener" class="text-lg font-bold hover:underline">
        <%= article[:title] %>
      </a>
    </div>
  <% end %>
</div>